@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --blue-1: #3c429e;
  --blue-2: #4c52ad;
  --yellow: #fac742;
  --grey: #ededed;
  --shadow-dark: rgba(0, 0, 0, 0.3);
  --shadow-light: rgba(255, 255, 255, 0.1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  width: 100%;
  height: 100vh;
  background-color: var(--blue-1);
}

.search-container {
  margin-bottom: 1em;
  text-align: center;

  input {
    background-color: #fff;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 1em;
    color: #000000;
    font-size: 0.8em;
    text-align: center;
  }
}

.container {
  width: 500px;
  height: 80vh;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 10px 10px 10px var(--shadow-dark);

  &__upper-data {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &__weather-data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: var(--shadow-dark);

      &__location {
        color: #fff;
        text-align: center;
        font-size: 1.2em;
      }

      &__temperature {
        color: #fff;
        font-size: 4em;
        text-align: center;
        font-weight: 900;
      }
    }
  }

  &__lower-data {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1em;

    &__more-info-label {
      font-weight: 900;
      text-align: center;
      color: #000000;
    }

    &__more-info-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex: 1;
      background-color: var(--shadow-light);
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      margin-top: 1em;

      &__info-block {
        display: flex;
        flex-direction: row;
        width: 50%;
        font-weight: 600;

        &__label {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 50%;

          img {
            width: 2.8em;
            margin-bottom: 10px;
          }

          span {
            color: #000000;
            font-size: 0.8em;
          }
        }

        &__value {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 50%;
          color: rgb(0, 0, 0);
        }
      }
    }
  }
}
